@font-face {
    font-family: IRANSanse;
    src: url(./font/A-Iranian-Sans/IRANSansWeb.woff);
    src: url(./font/A-Iranian-Sans/IRANSansWeb.ttf);
}
* {
  direction: rtl;
  padding: 0;
  margin: 0; 
  box-sizing: border-box;
  font-family: IRANSanse;
}